@font-face {
	font-family: 'Dosis';
	src: url('/fonts/xIAtSaglM8LZOYdGmG1JqQ.eot');
	src: local('xIAtSaglM8LZOYdGmG1JqQ'), url('/fonts/xIAtSaglM8LZOYdGmG1JqQ.woff') format('woff'), url('/fonts/xIAtSaglM8LZOYdGmG1JqQ.ttf') format('truetype');
}
* {
	font: 400 100%/1.5 Dosis,Helvetica,Arial,sans-serif;
}
body {
	color: #333;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Dosis,Helvetica,Arial,sans-serif;
}
.clearfix {
	clear: both;
}
.row {
	// max-width: 75.000rem;
	max-width: 100%;
}
a {
	color: #333;
	text-decoration: none;
}
a:hover,
a:focus {
	color: #888;
	text-decoration: none;
}
.mobile-ofc {
	background: #f2f2f2;
	font-size: 0.8125rem;
	font-weight: bold;
	.title {
		background: #1993c6;
		color: #fff;
		padding: 0.625rem;
		padding-left: 0.938rem;
		font-size: 1rem;
		text-transform: uppercase;
	}
	a {
		color: #333;
		font-size: 0.9rem;
	}
}
.offcanvas {
	background: #f2f2f2;
	height: 100%;
}
.menu-button-text {
	color: #fff;
	padding-left: 1.563rem;
	width: 6.250rem;
	display: inline-block;
}
.title-bar {
	background-color: #1993c6;
}
.close-button {
	color: #fff;
	top: -1.250rem;
	font-size: 3.125rem;
}
.logo img {
	height: auto;
	max-width: 100%;
}
.title-bar-title {
	padding-left: 6.250rem;
}
.main {
	background: #f9f9f9;
	padding-top: 1.563rem;
	padding-bottom: 1.563rem;
}
.item {
	background-color: #fff;
	border: none;
    border-radius: 0.313rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	padding: 0;
	h2 {
		font-size: 0.875rem;
		text-align: center;
		overflow: hidden;
	    margin: 0 0.188rem;
	    padding: 0.313rem 0;
	    a {
		    color: #3b3b3b;
		    font-size: 0.875rem;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		    text-align: center;
		}
	}
	> a {
		display: block;
		position: relative;
	}
	
	> a > span:before {
		background: url('/img/ribbon.png') no-repeat center;
	    position: absolute;
	    background-size: contain;
	    width: 3.125rem;
	    height: 3.125rem;
	    content: "";
	    z-index: 9;
	    top: -0.750rem;
	    left: -0.750rem;
	}
	> a > img,
	> a > span > img {
		border-radius: 0.313rem 0.313rem 0 0;
	}
}
.item:hover h2 a {
	color: #b35900;
	text-decoration: underline;
}
.topnav {
	background: #f0f0f0;
	.menu>li>a {
		font-size: 1.1rem;
	}
}
.box {
	margin-bottom: 0.625rem;
	> .row {
		
	}
}
.tabs-panel {
	padding: 0;
	> a {
	    top: -2.563rem;
	    position: absolute;
	    right: 0;
	}
}
ul.box-tabs {
	margin: 0;
	> li.tabs-title {
		list-style: none;
		> h3 {
			margin: 0;
			> a {
				font-size: 1.55rem;
			    color: #2c3e50;
			    display: inline-block;
			}
		}
	}
	
}
.box-title {
	padding-top: 0.938rem;
	padding-bottom: 0.938rem;
	> h1 {
		font-size: 1.55rem;
	    color: #2c3e50;
	    display: inline-block;
	    font-weight: bold;
	}
}
.box-title > h3,
ul.box-tabs > li.is-active > h3 > a {
	font-size: 1.55rem;
    color: #2c3e50;
    display: inline-block;
    font-weight: bold;
}
a.btn-seemore {
	background-color: #b35900;
	-webkit-border-radius: 0.188rem;
	border-radius: 0.188rem;
	color: #fff;
	padding: 0.5rem 1rem 0.5rem 1rem;
	margin-bottom: 0.313rem;
}
.box-seemore {
	a.btn-seemore {
		width: 100%;
		display: block;
		text-align: center;
	}
}
a.btn-seemore i.fa,
a.btn-play i.fa {
	padding-left: 0.313rem;
	color: #fff;
}
a.btn-play {
	background-color: #b35900;
	-webkit-border-radius: 0.188rem;
	border-radius: 0.188rem;
	color: #fff;
	padding: 0.500rem;
	width: 100%;
	margin-top: 0.313rem;
	display: block;
	text-align: center;
	margin-bottom: 0.938rem;
	font-weight: bold;
	font-size: 1.125rem;

}
.no-padding-bottom {
	padding-bottom: 0;
}
footer {
	background-color: #333;
	color: #fff;
	padding-top: 0.938rem;
	padding-bottom: 0.938rem;
	a {
		color: #fff;
		font-size: 0.750rem;
		text-decoration: underline;
	}
	a:hover,
	a:focus {
		color: #fff;
		text-decoration: underline;
	}
}
.copy,
.made-with-love {
	text-align: center;
	display: block;
	font-size: 0.750rem;
	margin-bottom: 0.5rem;
}
.game {
	background: #fefefe;
	margin-bottom: 1.563rem;
	margin-top: 0.625rem;
	border-bottom: 0.188rem solid #f4f4f4;
}
.play {
	text-align: center;
	margin-top: 1.563rem;
	margin-bottom: 0.938em;
}
.info {

}
.summary {
	font-weight: bold;
	margin-bottom: 0.313rem;
}
.description {
	margin-top: 0.625rem;
	margin-bottom: 0.625rem;
	table,
	img,
	iframe {
		max-width: 100% !important;
		height: auto !important;
	}
}
.view {
	color: #888;
	margin-bottom: 0;
	>span {
		font-weight: bold;
		color: #888;
	}
}
.tags {
	margin-bottom: 1.563rem;
	ul {
		margin: 0;
		display: inline-block;
		li {
			list-style: none;
			display: inline-block;
			margin-left: 0.625rem;
			margin-right: 0.625rem;
			h2 {
				display: inline-block;
				font-size: inherit;
				margin: 0;
				a:before {
					content: "";
					position: absolute;
					top: 0;
					left: -0.750rem;
					width: 0;
					height: 0;
					border-color: transparent #3A3939 transparent transparent;
					border-style: solid;
					border-width: 0.875rem 0.750rem 0.938rem 0;
				}
				a {
					display: inline-block;
					position: relative;
					margin: 0;
					padding: 0.313rem 0.625rem;
					background: #3A3939;
					-webkit-border-bottom-right-radius: 0.188rem;
					border-bottom-right-radius: 0.188rem;
					-webkit-border-top-right-radius: 0.188rem;
					border-top-right-radius: 0.188rem;
					-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
					box-shadow: 0 1px 1px rgba(0, 0, 0, .12);
					color: #fff;
					text-decoration: none;
					border-right: 0.563rem solid #b35900;
				}
				a:after {
					content: "";
					position: absolute;
					top: 0.750rem;
					left: 1px;
					float: left;
					width: 0.313rem;
					height: 0.313rem;
					-webkit-border-radius: 50%;
					border-radius: 50%;
					background: #fff;
					-webkit-box-shadow: -1px -1px 0.125rem rgba(0, 0, 0, .4);
					box-shadow: -1px -1px 0.125rem rgba(0, 0, 0, .4);
				}
				a:hover {
					color: #F2622B;
				}
			}
		}
	}
}
.tags-icon {
	background-color: #b35900;
	-webkit-border-radius: 0.188rem;
	border-radius: 0.188rem;
	display: inline-block;
	color: #fff;
	margin-bottom: 0.313rem;
	margin-right: 0.313rem;
	padding: 0.313rem 0.625rem;
	i.fa {
		color: #fff;
	}
}
.gametypes {
	margin-top: 0.625rem;
	margin-bottom: 0.625rem;
}
.gooo {
	text-align: center;
	margin-top: 0.938rem;
	margin-bottom: 0.938rem; 
	img,
	ins,
	iframe {
		max-width: 100% !important;
	}
}
.game-title {
	padding: 0.625rem 0;
	h1 {
		text-align: center;
		margin: 0;
		display: block;
		font-weight: bold;
		color: #b35900;
		padding: 0;
	}
}
.breadcrumbs {
	margin-bottom: 0.313rem;
}
.pagination {
	text-align: center;
	li {
		border-radius: 0.313rem;
		margin-right: 0.313rem;
		span {
			padding: 0.5rem 1rem;
			border-radius: 0.313rem;
			background: #f2f2f2;
			border: 1px solid #f2f2f2;
			display: block;
		}
	}
	li.active {
		background-color: #f2f2f2;
		color: #888;
	}
	li.active span {
		color: #888;
	}
	a {
		background-color: #b35900;
		border: 1px solid #f2f2f2;
		-webkit-border-radius: 0.313rem;
		border-radius: 0.313rem;
		color: #fff;
		padding: 0.500rem 1.000rem;
	}
	a:hover {
		background-color: #333;
		color: #fff;
	}
	.disabled {
		padding: 0;
	}
}
.fullscreen {
	text-align: center;
	margin-bottom: 0.938em;
	> a {
		display: inline-block;
		color: #fff;
		background: #333;
		padding: 0.188rem 0.313rem;
		border-radius: 0.188rem;
		border: 1px solid #888;
		font-size: 0.813rem;
	}
}
.social {
	text-align: left;
	margin-top: 0.625rem;
	div {
		vertical-align: middle !important;
	}
}
.center,
.center>.social {
	text-align: center;
}
form.search-form {
	position: relative;
	width: 25.000rem;
	margin-top: 1.875rem;
}
input.search-input {
	position: relative;
	margin-bottom: 0;
	padding-right: 8.750rem;
	border-radius: 0.313rem;
	font-size: 0.875rem;
}
a.search-button {
	background-color: #1993c6;
	border: none;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0.563rem;
	height: 2.375rem;
	text-decoration: none;
	color: #fff;
	border-radius: 0 0.313rem 0.313rem 0;
}
a.search-button:hover,
a.search-button:focus {
	color: #fff;
}
.box-inner {
	position: relative;
	padding: 1.563rem 0.625rem 0.625rem 0.625rem;
}
